fabric/002_pipelines/003_processing/ppl_02_exec_gold.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "ExcelSource",
            "storeSettings": {
              "type": "LakehouseReadSettings",
              "recursive": true,
              "enablePartitionDiscovery": false
            }
          },
          "datasetSettings": {
            "type": "Excel",
            "typeProperties": {
              "location": {
                "type": "LakehouseLocation",
                "fileName": "config.xlsx"
              },
              "sheetName": "notebooks_gold",
              "firstRowAsHeader": true
            },
            "schema": [],
            "linkedService": {
              "name": "lh_config",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "67bff7c9-2fad-96e8-4972-ee6acad5c24c",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Files"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "lookup_config",
        "dependsOn": []
      },
      {
        "type": "Filter",
        "typeProperties": {
          "items": {
            "value": "@activity('lookup_config').output.value",
            "type": "Expression"
          },
          "condition": {
            "value": "@equals(item().enable_etl, '1')",
            "type": "Expression"
          }
        },
        "name": "filter_config",
        "dependsOn": [
          {
            "activity": "lookup_config",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "838babbf-9461-99df-4f3c-a5664b30b4fa",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "batch_notebooks": {
              "value": {
                "value": "@string(activity('filter_config').output.value)",
                "type": "Expression"
              },
              "type": "string"
            },
            "workspace_id": {
              "value": {
                "value": "@pipeline().DataFactory",
                "type": "Expression"
              },
              "type": "string"
            }
          },
          "sessionTag": "gold"
        },
        "policy": {
          "timeout": "0.00:30:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "nb_gold",
        "dependsOn": [
          {
            "activity": "filter_config",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "parameters": {
      "carga_full": {
        "type": "string",
        "defaultValue": "S"
      }
    }
  }
}